html {
	background: #ab9c7d;
}
select {
	color: black;
}
a {
	color: #DD6000;
}
a:focus, a:hover {
	color: #BB4000;
}
hr {
	background: url("../img/layout/hr.png") repeat-x;
	border: none;
	height: 2px;
}
h3, .h3 {
	font-weight: normal;
	font-size: 16px;
	margin: 0px;
	text-decoration: underline;
}
h4, .h4 {
	font-weight: normal;
	font-size: 14px;
	margin: 0px;
}
h5, .h5 {
	font-weight: normal;
	font-size: 12px;
	margin: 0px;
}

#navigation-bar li a:focus, #navigation-bar li a:hover {
	background: linear-gradient(#C4C4C4, #A5A5A5);
	color: #444444;
}
#navigation-bar li.selected {
	background: linear-gradient(#FCD085, #FFB23F);
}
#navigation-bar li.selected a {
	color: #444444;
}

.nowrap {
	overflow: hidden;
	white-space: nowrap;

	/* The following elements are not part of CSS2, but are required for some
	 *  (broken) browsers who do not understand the former definitions. */
	text-overflow: ellipsis;
	-o-text-overflow: ellipsis;
}

body > header {
	/* Stripes! */
	background-image: repeating-linear-gradient(to bottom, #323536 0, #323536 1px, #3c3e40 1px, #3c3e40 2px);
}

#openttd-logo {
	background: url("../img/layout/openttd-64.gif") no-repeat left bottom 2px;
	height: 68px;
	width: 250px;
	position: relative;
}
#openttd-logo-text,
#openttd-logo-text img {
	display: block;
}
#openttd-logo-text {
	position: absolute;
	bottom: 4px;
	left: 78px;
}

#hr-clear {
	clear: both;
}

.mono {
	font-family: 'Courier New', monospace;
}

#pagename {
    padding-left: 20px;
}

#review-access {
    top: 70px;
}
